@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

@import 'tailwindcss';

@theme {
  --color-primary-rose: #260f08;
  --color-muted-rose: #87635a;
  --color-dusty-rose: #ad8a85;
  --color-soft-rose: #f5eeec;
  --color-pale-rose: #fcf8f6;
  --color-red: #c73b0f;
}

body {
  font-family: 'Red Hat Text', serif;
  background-color: var(--color-pale-rose);
}

.circle {
  @apply grid place-content-center w-5 h-5 border border-white rounded-full cursor-pointer;
}

.addBtnStyles {
  @apply bg-white border border-dusty-rose hover:border-red cursor-pointer;
}

.line {
  @apply w-full h-[1px] bg-soft-rose;
}
