@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

@import 'tailwindcss';

@theme {
  --color-primary-rose: #260f08;
  --color-red: #c73b0f;
}

body {
  font-family: 'Red Hat Text', serif;
  background-color: #fcf8f6;
}

.circle {
  @apply grid place-content-center w-5 h-5 border border-white rounded-full cursor-pointer;
}

.addBtnStyles {
  background-color: white;
  border: 1px solid #c73b0f;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #f5eeec;

  /* w-full h-[1px] bg-[#f5eeec] my-4 */
}
